.container {
  position: relative;
  .resize-top {
    width: 100%;
    height: 3px;
    top: 0px;
    z-index: 9999;
    position: absolute;
    cursor: row-resize;

  }
  .resize-bottom {
    width: 100%;
    height: 3px;
    bottom: 0px;
    z-index: 9999;
    position: absolute;
    cursor: row-resize;

  }
  .resize-left {
    width: 3px;
    height: 100%;
    left: 0px;
    z-index: 9999;
    position: absolute;
    cursor: col-resize;

  }
  .resize-right {
    width: 3px;
    height: 100%;
    right: 0px;
    z-index: 9999;
    position: absolute;
    cursor: col-resize;

  }
  .resize-topLeft {
    width: 4px;
    height: 4px;
    top: 3px;
    left: 3px;
    z-index: 10000;
    position: absolute;
    cursor: nw-resize;

  }
  .resize-topRight {
    width: 4px;
    height: 4px;
    top: 3px;
    right: 3px;
    z-index: 10000;
    position: absolute;
    cursor: ne-resize;

  }
  .resize-bottomLeft {
    width: 4px;
    height: 4px;
    bottom:3px;
    left: 3px;
    z-index: 10000;
    position: absolute;
    cursor: sw-resize;

  }
  .resize-bottomRight {
    width: 4px;
    height: 4px;
    bottom: 3px;
    right: 3px;
    z-index: 10000;
    position: absolute;
    cursor: se-resize;
  }
}
