@import "src/global";
.left-container{
  position: fixed;
  display: flex;
  top: 60px;
  left: 10px;
  height: calc(100vh - 90px);;
  width: 212px;
  border-radius: 8px;
  user-select: none;
  background-color: #fff;
  overflow: hidden;
  box-shadow:3px 4px 5px 3px rgba(0,0,0, 0.15);
.brickd-left-tabs{
  display: flex;
  width: 100%;

  :global{
    .rc-tabs-tab{
      font-size: 12px;
      font-weight: bold;
      color: #aaa;
    }
    .rc-tabs-tab-active{
      color: #333;
    }
    .rc-tabs-ink-bar{
      background-color:rgb(51, 51, 51);
      height: 2px !important;
    }
  }
}
}

.drag-container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height:60px;
  padding: 5px;
  margin:5px;
  border-radius: 4px;
  overflow: hidden;
  background: @borderColor;
  transition: all 500ms;
  .hidden-drag-name{
    visibility: hidden;
    position: absolute;
    bottom: 0;
    font-size: 12px;
    color: #333333;
  }
  &:hover{
    .drag-name{
      visibility: visible;
      position: absolute;
      bottom: 0;
      font-size: 12px;
      color: #333333;
    }
  }

  .list-drag-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    height: 100%;
    width: 100%;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200%;
      height: 200%;
      transform: scale(0.5);
      cursor: pointer;
    }
  }
}
.list-container{
  display: flex;
  width: 100%;
  align-items: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  transition: all 800ms;
  .drag-name{
    font-size: 12px;
    color: #333333;
    margin-left: 16px;
  }
  .list-drag-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    width: 28px;
    height:28px;
    border-radius: 4px;
    border: 1px solid transparent;
    overflow: hidden;
    background: @borderColor;
    .item {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 200%;
      height: 200%;
      transform-origin: center;
      transform: scale(0.25);
      cursor: pointer;
    }

  }
}
