@import '../../global';

.form-container {
	padding: 0;
	height: @content-height;
	box-sizing: border-box;
	overflow: auto;

	:global {
		.ant-form-item {
			margin-bottom: 5px !important;
		}

		.ant-form-item-label {
			padding-bottom: 5px !important;
		}

		.ant-collapse-header {
			padding: 0 0 10px !important;
		}

		.ant-form-item-control {
			line-height: 0;
		}
	}
}

.fold-header {
	display: flex;
	width: 100%;
	padding-top: 10px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;

	span:first-child {
		font-family: PingFang-SC-Bold;
		font-size: 14px;
		font-weight: bold;
		color: #555555;
		letter-spacing: 0.2px;
	}
}

.panel-border {
	border-bottom-width: 1px !important;
	border-bottom-color: #dfdfdf;
	border-bottom-style: solid;
	padding-left: 14px;
	padding-right: 14px;
}

.bottom-label {
	font-family: PingFangSC-Regular;
	font-size: 10px;
	letter-spacing: 0.14px;
	line-height: 24px;
	margin-left: 7px;
}

.select {
	height: 24px;

	:global {
		.ant-select-selection__rendered {
			line-height: 22px;
		}

		.ant-select-selection--single {
			height: 24px;
			font-size: 12px;
			color: #000;
			letter-spacing: 0.17px;

			.ant-select-selection-selected-value {
				height: 24px;
				line-height: 22px;
			}
		}
	}
}

.number-unit-container {
	border-radius: 3px;
	overflow: hidden;
	padding: 0;
	line-height: 0;

	.input-num {
		height: 24px;
		width: 100%;
		border: 1px solid #d9d9d9;
		overflow: hidden;
	}

	.select-box {
		height: 24px;
		width: 100%;
		padding-left: 5%;
		text-align: center;
	}

	:global {
		.ant-select-selection,
		.ant-input-number {
			height: 24px;
			border-radius: 2px;
			border-color: #d6d6d6;
			overflow: hidden;
		}

		.ant-input-number-handler-wrap {
			opacity: 1 !important;
			border: none;

			.ant-input-number {
				font-size: 12px;
			}

			.ant-input-number-handler-down {
				border: none;
			}
		}

		.ant-select-selection__rendered {
			margin: 0 !important;

			.ant-select-selection-selected-value {
				line-height: 20px !important;
				padding-left: 7px;
			}
		}

		.ant-input-number-input {
			height: 22px;
		}

		.ant-select-arrow {
			margin-top: -4px;
			right: 7px;

			svg {
				width: 10px !important;
				height: 10px !important;
			}
		}

		.ant-select-selection--single {
			text-align: center;
		}
	}
}
