@import "src/global";
.container{
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px @borderColor solid;
  border-radius: 4px;
  padding-left: 3px;
  .select{
    border:none;
    outline: none;
    width: 100%;
    appearance: none;

  }
  .icon{
    margin-right: 10px;
  }
}
