.fold-container {

  .fold-content {
    display: flex;
    flex-wrap: wrap;
  }
  :global{
    .rc-collapse-content{
      padding: 0;
    }
    .rc-collapse-content > .rc-collapse-content-box{
      margin-bottom: 0;
      margin-top: 0;
    }
  }
  .fold-panel-header{
    padding:0!important;
  }
}
