@import '../../../global';
.container {
  border-top: 1px @borderColor solid;
  display: flex;
  flex-direction: column;
  height: calc(100vh - 160px);
  overflow: auto;
  .switch {
    width: 30px;
    height: 15px;
  }
  .input-container {
    margin-top: 5px;
    border-bottom: 1px @borderColor solid;
    width: 100%;

    font-size: 12px;
    &:hover {
      border-bottom-color: #388bfe;
    }
  }
  .focus-class {
    border-bottom-color: @select-border-Color;
  }

  :global {
    .rc-switch-checked:after {
      left: 15px;
    }
    .rc-switch:after {
      width: 11px;
      height: 11px;
    }
  }
}

.empty {
  border-top: 1px @borderColor solid;
  display: flex;
  font-size: 13px;
  justify-content: center;
  padding-top: 100px;
}
