@import 'global';
.divider {
	border: 1px #bcbcbc dashed;
	margin-bottom: 10px;
	padding: 10px !important;
}

.children-container {
	background: #ffffff;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	padding: 12px 12px 0;
	min-height: 50px;
}

.main-container {
	position: relative;
	box-sizing: border-box;
	height: calc(@content-height - 70px);
	overflow: auto;
}

.form-container {
	padding: 0 10px;
}

.btn-wrap {
	background: #fff;
	padding: 10px;
	box-shadow: 1px 1px 1px rgba(206, 202, 202, 0.15);
}

:global {
	.card-container {
		.ant-form-item {
			margin-bottom: 5px !important;
		}

		.ant-form-item-label {
			padding-bottom: 5px !important;
		}
	}
}

.sort-item {
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background-color: #ffffff;
	min-width: 92px;
	height: 29px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 12px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: 2px;
	margin-right: 2px;
	color: rgba(0, 0, 0, 0.65);
}

.multi-type {
	display: flex;
	align-items: center;
}

.select {
	height: 24px;

	:global {
		.ant-select-selection__rendered {
			line-height: 22px;
		}

		.ant-select-selection--single {
			height: 24px;
			font-size: 12px;
			color: #000;
			letter-spacing: 0.17px;

			.ant-select-selection-selected-value {
				height: 24px;
				line-height: 22px;
			}
		}
	}
}

.number-unit-container {
	border-radius: 3px;
	overflow: hidden;
	padding: 0;
	line-height: 0;

	.input-num {
		height: 24px;
		width: 100%;
		border: 1px solid #d9d9d9;
		overflow: hidden;
	}

	.select-box {
		height: 24px;
		width: 100%;
		padding-left: 5%;
		text-align: center;
	}

	:global {
		.ant-select-selection,
		.ant-input-number {
			height: 24px;
			border-radius: 2px;
			border-color: #d6d6d6;
			overflow: hidden;
		}

		.ant-input-number-handler-wrap {
			opacity: 1 !important;
			border: none;

			.ant-input-number {
				font-size: 12px;
			}

			.ant-input-number-handler-down {
				border: none;
			}
		}

		.ant-select-selection__rendered {
			margin: 0 !important;

			.ant-select-selection-selected-value {
				line-height: 20px !important;
				padding-left: 7px;
			}
		}

		.ant-input-number-input {
			height: 22px;
		}

		.ant-select-arrow {
			margin-top: -4px;
			right: 7px;

			svg {
				width: 10px !important;
				height: 10px !important;
			}
		}

		.ant-select-selection--single {
			text-align: center;
		}
	}
}


.brickd-container{
	display: flex;
	flex-direction: column;
	flex: 1;
}
