@import '../global';

.forbid-event {
	pointer-events: none;
}

.allow-event {
	pointer-events: auto;
}

.hidden-component {
	display: none;
	transition: all 700ms;
}


.allow-add{
	outline: gold solid 1px;
}
