@selectColor: #ee6723;
@hoverColor: #388bfe;
@transparent: #00000000;
@translucent: rgba(0, 0, 0, 0.1);
@dropColorNo: rgba(256, 0, 0, 0.1);
@dropColorYes: rgba(0, 256, 0, 0.1);
.animate {
	transition: all 50ms;
}

.distances-tip {
	position: absolute;
	display: block;
	font-size: 10px;
	color: #fff;
	line-height: 10px;
	padding: 3px;
	border-radius: 2px;
	z-index: 1;
	background-color: @selectColor;
	.animate();
}

.rotate180 {
	transform: rotate(180deg);
}

.rotate90 {
	transform: rotate(90deg);
}

.hidden-drag{
	width: 0;
	height: 0;
	transition: all 500ms;
}

.drop-empty-width{
	width: 50px;
	transition: all 200ms;
}
.drop-empty-height{
	height:50px;
	transition: all 200ms;
}
