.form-item-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  .label{
    font-size: 12px;
    margin-right: 10px;
  }
}
