@import "src/global";
.form-item-container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
  padding-left: 10px;
  padding-right: 10px;
  .label{
    font-size: 13px;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
  }
  .title{
    flex: 1;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .icon-none{
    display: none;
    width: 15px;
    height: 15px;
    &:hover{
      background-color: #00000000;
    }
  }
  &:hover{
    .icon-flex{
      display: flex;
    }
  }
  .drop-down{
    margin-left: 10px;
  }
  .handle-container{
    display: flex;
    align-items: center;
  }
}
