.container-select-outline {
  outline: 1px solid #EE6723 !important;
  outline-offset: -1px;
  z-index: 10000;
}

.hover-outline {
  outline: 1px solid #388bfe !important;
  outline-offset: -1px;
  z-index: 10000;
}
.forbid-event{
  pointer-events: none;
}

.allow-event{
  pointer-events: auto;
}
.hidden-component {
  display: none;
  transition: all 700ms;
}

