.container-select-outline {
  outline: 1px dashed red !important;
  outline-offset: -1px;
}

.hover-outline {
  outline: 1px dashed springgreen !important;
  outline-offset: -1px;
}

.forbid-event{
  pointer-events: none;
}

.allow-event{
  pointer-events: auto;
}
.hidden-component {
  display: none;
  transition: all 700ms;
}

