.container-select-border {
  outline:red dotted thick;
}

.container-hover-border{
  outline:red dotted thick;
}

.none-container-hover-border{
  outline:greenyellow dotted thick;
}

.hidden-component{
  display: none;
  transition: all 700ms;
}

