@import "../../global";
.container{
  position: absolute;
  z-index: 1;
  display: flex;
  right: 0;
  flex-direction: row;
  border-top-left-radius: 5px ;
  border-top-right-radius: 5px ;
  background-color:@selectColor ;
}
.action-btn{
  height:20px;
  width: 20px;
  justify-content: center;
  align-items: center;
  pointer-events: auto;
}

