@import 'src/global';
@import "../index";
.container {
	display: flex;
	flex:1;
	overflow: auto;
	flex-direction: column;
}

.result-container{
	overflow: auto;
	background: #fff;
	height: calc(100vh - 160px);

	.item-container{
		display: flex;
		overflow: auto;
		flex-wrap: wrap;
	}
}

.fold-container {
	display: flex;
	overflow: auto;
	background: #fff;
	height: calc(100vh - 160px);

	.fold-container-title {
		padding-top: 5px;
		text-align: center;
	}

	.fold-content {
		margin-right: 1px;
		display: flex;
		flex-wrap: wrap;
	}
	.fold-header {
		display: flex;
		width: 100%;
		align-items: center;
		flex-direction: row;
		height: 30px;
		color: #333;
		font-size: 12px;

	}
	:global{
		.rc-collapse-content{
			padding: 0;
		}
		.rc-collapse-content > .rc-collapse-content-box{
			margin-bottom: 0;
			margin-top: 0;
		}
	}
	.fold-panel-header{
		padding:0!important;
	}
}

.placeholder-item{
	display: flex;
	width: 100%;
	height: 100%;

	img{
		width: 100%;
		height: 100%;
	}
}

.result-container{
	overflow: auto;
	background: #fff;
	height: calc(100vh - 160px);

	.item-container{
		display: flex;
		overflow: auto;
		flex-wrap: wrap;
	}
}

