@content-height: calc(100vh - 120px);

.rotate180 {
  transform: rotate(180deg);
}

.rotate90 {
  transform: rotate(90deg);
}

.mobile {
  position: relative;
  width: 405px;
  height: 100%;
  transition:width 700ms;
}

