.preview-header {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  height: 68px;
  padding-left: 22px;
  overflow: hidden;
}

.preview-container {
  position: relative;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 10px;
}

.preview-mobile{
  position: relative;
  width: 405px;
  height: 100%;
}

.page-container{
  display: flex;
  flex: 1;
  justify-content: center;
  background-color: #F5F5F5;
  padding: 33px;
}
